.App {
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
table {
  margin: 50%;
  transform: translate(-50%, -60%);
  height: 50vh;
  width: 50vh;
  font-size: 100%;
}

td {
  border: 1px black solid;
  width: 100px;
  height: 100px;
}
